.sholat {
    /*position: fixed;*/
    background-color: white;
    border-radius: 5px;
    margin-top: 80px;
    -webkit--radius: 5px;
    -moz--radius: 5px;
    -ms--radius: 5px;
    -o--radius: 5px;
}

.sholat ul {
    list-style-type: none;
}

.sholat ul li {
    padding: 7px;    
    border-radius: 10px;
    box-shadow: 0px 5px 5px #aaaaaaa4;
}

.sholat ul li span{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
}

.text-ws {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-weight: 700;
}